.add-new-meal-container {
  border: 1px #e1dcdc solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.4rem;
  display: flex;
  margin-top: 9rem;
}

.addnewmeal-left-side,
.addnewmeal-middle-side,
.addnewmeal-right-side {
  width: 33.3333333333333%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  border-right: 1px #e1dcdc solid;
  padding: 1.2rem;
  overflow: scroll;
  max-height: 80vh;
}

.addnewmeal-left-side h3 {
  font-size: 1.8rem;
  color: rgb(255, 153, 0);
  letter-spacing: 1px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: flex-start;
}

label {
  font-size: 1rem;
  font-weight: 700;
}

.input-container input {
  width: 100%;
  padding: 0.4rem;
  border: #b9b9b9 1px solid;
  border-radius: 0.2rem;
  transition: all 200ms;
}
.input-container input:focus {
  outline: none;
  transform: scale(1.02);
}

.add-input-btn {
  padding: 0 0.4rem;
  font-size: 1.3rem;
  cursor: pointer;
  aspect-ratio: 1;
  font-weight: bolder;
  color: #fff;
  border: none;
  background-color: rgb(57, 212, 57);
  width: 6%;
  aspect-ratio: 1;
}

.add-bg {
  overflow-y: scroll;
  padding: 0.8rem 0.4rem;
  min-height: 11rem;
  background-color: rgb(245, 235, 221);
  display: flex;
  border-right: 3px solid rgb(150, 55, 11);
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 1rem;
}

.addnewmeal-middle-side h3 {
  font-size: 1.8rem;
  color: rgb(174, 171, 166);
  letter-spacing: 1px;
}

.addnewmeal-middle-side ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style-type: square;
}

.addnewmeal-middle-side ul li {
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgb(249, 174, 61);
}

.addnewmeal-middle-side ul li::marker {
  color: rgb(249, 174, 61);
}

.add-new-meal-btn {
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.1rem;
  background-color: rgb(255, 153, 0);
  color: whitesmoke;
  transition: all 500ms;
  width: 100%;
  padding: 0.7rem 0.8rem;
  font-size: 1rem;
  border-radius: 0.4rem;
}

.add-new-meal-btn:hover {
  background-color: rgb(255, 172, 47);
}

.ing-price-inputs-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.ing-and-cost-inputs-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.ing-input-container {
  width: 70%;
}

.cost-input-container {
  width: 28%;
}

.cost-input-container input::placeholder,
.ing-input-container input::placeholder {
  color: #b9b9b9;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.image-file-input {
  display: none;
}

.image-file-input-label {
  font-size: 0.9rem;
  background-color: rgb(255, 153, 0);
  color: white;
  font-weight: 400;
  padding: 0.25rem 0.8rem;
  cursor: pointer;
  letter-spacing: 1px;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-preview {
  width: 2.5rem;
  height: 2.5rem;
}

.one-image-input {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0 0.3rem;
}
