.add-new-meal-container {
  border: 1px #e1dcdc solid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  display: flex;
}

.left-side,
.middle-side,
.right-side {
  width: 33.333333333333333%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-right: 1px #e1dcdc solid;
  padding: 3rem;
  overflow: scroll;
  height: 120vb;
}

.left-side h3 {
  font-size: 2rem;
  color: rgb(255, 153, 0);
  letter-spacing: 1px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}
label {
  font-size: 1.2rem;
  font-weight: 700;
}

.input-container input {
  width: 100%;
  padding: 0.5rem;
  border: #b9b9b9 1.5px solid;
  border-radius: 0.2rem;
}

.add-input-btn {
  cursor: pointer;
  aspect-ratio: 1;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #fff;
  border: none;
  background-color: rgb(57, 212, 57);
}

.add-bg {
  background-color: rgb(245, 235, 221);
  border-right: 3px solid rgb(150, 55, 11);
  padding: 1rem 0.5rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 8px;
}

.middle-side h3 {
  font-size: 2rem;
  color: rgb(174, 171, 166);
  letter-spacing: 1px;
}

.middle-side ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style-type: square;
}
.middle-side ul li {
  border-bottom: 1px solid rgb(249, 174, 61);
  padding-bottom: 0.5rem;
}

.middle-side ul li::marker {
  color: rgb(249, 174, 61);
}
