* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: sans-serif;
  color: rgb(92, 88, 88);
}

body {
  position: relative;
}

.app-container {
  background-color: rgb(253, 251, 244);
  width: 87%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;
  min-height: 100vh;
}

/* .Toastify__toast-body div {
  color: #dfd1d1 !important;
} */
